.his{
    background-color: rgb(204, 197, 197);
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 1%;
    border: 1px black solid;

    .data{
        background-color: rgb(228, 147, 147);
        text-align: left;
    }

    p{
        color: black;
    }

}
